.code{
    padding: 0px 10px 15px 10px;
    margin: 0;
    /*background-color: rgba(0, 0, 0, 0.06);*/
    background-color: #f9f2f4;
    color: #c7254e;
    border-radius: 3px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    white-space: normal;
    direction: ltr;
    text-align: left;
    white-space: pre-line;
    word-spacing: normal;
    word-break: normal;
    font-size: 0.95em;
    line-height: 1.2em;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
.header-label{
	font-family: "ProximaNova-SemiBold";
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 50px;
    color: #fff;
    padding: 4px;
    border-radius: 2px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 11px;
}
.header-label.pst{
	background: #bd0295;
}
.header-label.gt{
	background: #00a600;
}
.param, .param-type, .param-req{
	margin-right: 10px;
}
.param{
	font-weight: 600;
}
.param-req{
	color: #f08d00;
}
.param-type{
	colr: #6c7378;
}
.param-list li:first-child{
	border-top: none;
}